<html>
  <head>
    <meta charset="utf-8" />
    <title>Half Past Five</title>
    <!--<link rel="stylesheet" href="" type="text/css" media="screen" />-->
    <script language="javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script language="javascript" src="../static/wavesurfer.js/dist/wavesurfer.min.js"></script>
    <script language="javascript" src="../static/wavesurfer.js/plugin/wavesurfer.timeline.js"></script>
    <script language="javascript" src="../static/wavesurfer.js/plugin/wavesurfer.regions.js"></script>
    <script language="javascript" src="../static/js/main.js"></script>
    <link language="javascript" rel="stylesheet" href="../static/css/main.css"></link>
  </head>

  <body>
    <header>
      <h1 id="title">Half Past Five</h1>
    </header>
    <main>
      <section id="main">
        <form class="download-form" method="post">
          <input id="url" name="url" value="" placeholder="Coller ici le lien" />
        </form>
        <div class="wavesurfer"></div>
        <div class="wavesurfer-timeline"></div>
        <button class="hidden toggle-play">Play / Pause</button>
        <form class="cut-form hidden" method="post">
          <input name="media-name" id="media-name" type="hidden" value="" />
          <input name="start" id="start" value="" placeholder="Début" />
          <input name="stop" id="stop" value="" placeholder="Fin" />
          <input type="submit" id="submit" name="submit" value="Valider" />
        </form>
      </section>
    </main>
  </body>
</html>
