<html>
  <head>
    <meta charset="utf-8" />
    <title>Half Past Five</title>
    <!--<link rel="stylesheet" href="" type="text/css" media="screen" />-->
    <script language="javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script language="javascript" src="../static/wavesurfer.js/dist/wavesurfer.min.js"></script>
    <script language="javascript" src="../static/js/main.js"></script>
  </head>

  <body>
    <header>
      <h1 id="title">Half Past Five</h1>
    </header>
    <main>
      <section id="main">
        <form method="post">
          <input id="url" name="url" value="" placeholder="Coller ici le lien" />
        </form>
        <div class="wavesurfer">
        </div>
      </section>
    </main>
  </body>
</html>
